
.searchMeme-container
{
    width: 450px;
}
.searchMeme-container div
{
    margin: 0;
    padding: 0;
}
.searchMeme-button-icon
{
    background-image: url(../images/icon-search.png);
    top: 20%;
    left: 20%;
    position: relative;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.searchMeme-button-searching
{
    background-image: url(../images/loading.gif);
    position: relative;
    top: 33%;
    left: 36%;
    width: 60px;
    height: 50px;
    background-repeat: no-repeat;
}
.searchMeme-water-mark
{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */
    filter: alpha(opacity=50); /* Netscape */
    -moz-opacity: 0.5; /* Safari 1.x */
    -khtml-opacity: 0.5; /* Good browsers */
    opacity: 0.5;
}
.orange-normal
{
    background: #f8c70f; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8c70f 0%, #f2a309 100%, #f2a309 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8c70f), color-stop(43%,#f2a309), color-stop(100%,#f2a309)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8c70f 0%,#f2a309 100%,#f2a309 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8c70f 0%,#f2a309 100%,#f2a309 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8c70f 0%,#f2a309 100%,#f2a309 100%); /* IE10+ */
    background: linear-gradient(top,  #f8c70f 0%,#f2a309 100%,#f2a309 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c70f', endColorstr='#f2a309',GradientType=0 ); /* IE6-9 */
}
.orange-hover
{
    background: #f2a309; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2a309 0%, #f8c70f 100%, #f8c70f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2a309), color-stop(43%,#f8c70f), color-stop(100%,#f8c70f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2a309 0%,#f8c70f 100%,#f8c70f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2a309 0%,#f8c70f 100%,#f8c70f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2a309 0%,#f8c70f 100%,#f8c70f 100%); /* IE10+ */
    background: linear-gradient(top,  #f2a309 0%,#f8c70f 100%,#f8c70f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a309', endColorstr='#f8c70f',GradientType=0 ); /* IE6-9 */
}
.red-normal
{
    background: #ea0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #ea0000 0%, #f20000 100%, #f20000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea0000), color-stop(43%,#f20000), color-stop(100%,#f20000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ea0000 0%,#f20000 100%,#f20000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ea0000 0%,#f20000 100%,#f20000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ea0000 0%,#f20000 100%,#f20000 100%); /* IE10+ */
    background: linear-gradient(top,  #ea0000 0%,#f20000 100%,#f20000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0000', endColorstr='#f20000',GradientType=0 ); /* IE6-9 */
}
.red-hover
{
    background: #f20000; /* Old browsers */
    background: -moz-linear-gradient(top,  #f20000 0%, #ea0000 100%, #ea0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f20000), color-stop(43%,#ea0000), color-stop(100%,#ea0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f20000 0%,#ea0000 100%,#ea0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f20000 0%,#ea0000 100%,#ea0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f20000 0%,#ea0000 100%,#ea0000 100%); /* IE10+ */
    background: linear-gradient(top,  #f20000 0%,#ea0000 100%,#ea0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f20000', endColorstr='#ea0000',GradientType=0 ); /* IE6-9 */
}
.green-normal
{
    background: #73d006; /* Old browsers */
    background: -moz-linear-gradient(top,  #73d006 0%, #46b204 100%, #46b204 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73d006), color-stop(43%,#46b204), color-stop(100%,#46b204)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #73d006 0%,#46b204 100%,#46b204 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #73d006 0%,#46b204 100%,#46b204 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #73d006 0%,#46b204 100%,#46b204 100%); /* IE10+ */
    background: linear-gradient(top,  #73d006 0%,#46b204 100%,#46b204 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73d006', endColorstr='#46b204',GradientType=0 ); /* IE6-9 */
}
.green-hover
{
    background: #46b204; /* Old browsers */
    background: -moz-linear-gradient(top,  #46b204 0%, #73d006 100%, #73d006 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46b204), color-stop(43%,#73d006), color-stop(100%,#73d006)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #46b204 0%,#73d006 100%,#73d006 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #46b204 0%,#73d006 100%,#73d006 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #46b204 0%,#73d006 100%,#73d006 100%); /* IE10+ */
    background: linear-gradient(top,  #46b204 0%,#73d006 100%,#73d006 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b204', endColorstr='#73d006',GradientType=0 ); /* IE6-9 */
}
.searchMeme-input-left input
{
    width: 432px;
    background-color: #2D2822;
    border: none;
    color: #fff;
    z-index: 1;
    padding: 11px;
    font-size: 20px;
    -webkit-border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    border-radius: 0px 6px 6px 0px;
    -webkit-box-shadow: inset 1px 1px 1px 0px #000;
    -moz-box-shadow: inset 1px 1px 1px 0px #000;
    box-shadow: inset 1px 1px 1px 0px #000;
    margin-top: 0px;
}
.searchMeme-input-left
{
    float: left;
    width: 452px;
    overflow:hidden;
}
.searchMeme-button-left
{
    width: 47px;
    height: 45px;
    cursor: pointer;
    float: left;
    z-index: 100;
}
.searchMeme-round-left
{
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.searchMeme-input-right input
{
    width: 432px;
    background-color: #2D2822;
    border: none;
    color: #fff;
    z-index: 1;
    padding: 11px;
    font-size: 20px;
    -webkit-border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0px 0px 6px;
    -webkit-box-shadow: inset 1px 1px 1px 0px #000;
    -moz-box-shadow: inset 1px 1px 1px 0px #000;
    box-shadow: inset 1px 1px 1px 0px #000;
    margin-top:0px;
}
.searchMeme-input-right
{
    float: right;
    width: 452px;
    overflow:hidden;
}
.searchMeme-button-right
{
    width: 47px;
    height: 45px;
    cursor: pointer;
    float: right;
    z-index: 100;
}
.searchMeme-round-right
{
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
}


